main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  text-align: center;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px black solid;
  border-radius: 5px;
}



h1 {
  align-self: center;
}

#create-new-list{
  align-self: center;
  width: 20rem;
  margin: 1px;
}
.listHeader{
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}

.listTable{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.list-selection{

  align-self: center;
  margin: 10px;
}

.createNewTaskButton{
  align-self: center;
  margin: 1rem;
}

.high-priority {
  background-color: red;
}

.low-priority {
  background-color: rgb(89, 160, 89);
}

.medium-priority {
  background-color: rgb(255, 217, 0);
}

.priority-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: background-color 0.5s ease; 
  border: 1px solid;
  margin: 2px;
}

.createListInput{
  align-self: center;
  margin: 1px;
}

datalist {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* writing-mode: vertical-lr; */
  width: 200px;
  margin-left: 60px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}