body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  align-self: center;
}


.high-priority {
  background-color: red;
}

.low-priority {
  background-color: green;
}

.medium-priority {
  background-color: yellow;
}

.priority-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 0.5s ease; 
  border: 1px solid;
}


datalist {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* writing-mode: vertical-lr; */
  width: 200px;
  margin-left: 60px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}